{% extends 'base.html' %}
{% load static %}

{% block title %}Confirm Delete Newsletter{% endblock %}

{% block content %}

<h1>Confirm Delete Newsletter</h1>
<p>Are you sure you want to delete the newsletter: {{ newsletter.title }} ?</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-danger btn-lg w-100 mb-3">
        Confirm Delete
    </button>
</form>

<a href="{% url 'newsletter-list' %}" class="btn btn-secondary btn-lg w-100 mb-3">
    Cancel
</a>

{% endblock %}