{% extends 'base.html' %}
{% load static %}

{% block title %}Forgot Password{% endblock %}

{% block content %}



<div class="row justify-content-center">
    <div class="col-md-5">
        <h1>Forgot Password</h1>
        <p>Enter your account's email address and we'll send you a link to reset your password.</p>
        
        <form method="post" class="card-body shadow-sm" style="padding: 10%">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-lg w-100 mb-3">Send Reset Link</button>
        </form>

        <a href="{% url 'login' %}" class="btn btn-link">Back to Login</a>

    </div>

</div>

{% endblock %}