{% extends 'base.html' %}
{% load static %}

{% block title %}Password Reset Link Sent{% endblock %}

{% block content %}



<div class="row justify-content-center">
    <div class="col-md-5">
        <h1>Check Your Email</h1>
        <p>
            If an account with this email address exists, 
            we will send you instructions to reset your password.
            You should receive it shortly.
        </p>

        <a href="{% url 'login' %}" class="btn btn-outline-secondary btn-lg w-100 mb-3">Back to Login</a>

    </div>

</div>

{% endblock %}