{% extends 'base.html' %}
{% load static %}

{% block title %}Set New Password{% endblock %}

{% block content %}



<div class="row justify-content-center">
    <div class="col-md-5">
        {% if validlink %}
            <h1>Set New Password</h1>
            <form method="post" class="card-body shadow-sm" style="padding: 10%">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-lg w-100 mb-3">Reset Password</button>
            </form>
        {% else %}
            <h1>Invalid Link</h1>
            <p>
                This password reset link is invalid. Please request a new one.
            </p>
            <a href="{% url 'password_reset' %}" class="btn btn-outline-secondary btn-lg w-100">Request New Link</a>
        {% endif %}
    </div>
</div>

{% endblock %}