{% extends 'base.html' %}
{% block title %}
    Sticky Notes -
    {% if form.instance.pk %}
        Edit
    {% else %}
        Create
    {% endif %}
    Note
    {% endblock %}

    {% block content %}
    <h2>
        {% if form.instance.pk %}
            Edit
        {% else %}
            Create
        {% endif %}
        Note
    </h2>

    <form method="post"
            action="{% if form.instance.pk %}{% url 'update_note' pk=form.instance.pk %}{% else %}{% url 'create_note' %}{% endif %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
        Save
        </button>
    </form>
    <a href="{% url 'view_all_notes' %}">Back to All Notes</a>
    {% endblock %}
