# Email (Gmail App Password)
EMAIL_HOST_USER=yourrealemail@gmail.com
EMAIL_HOST_PASSWORD=your-email-password

# MariaDB / MySQL
DB_NAME=ecommerce_db
DB_USER=django_user1
DB_PASSWORD=YourStrongPassword123!
DB_HOST=127.0.0.1
DB_PORT=3306