{% autoescape off %}
----------------------

Someone requested a password reset for the email {{ email }}.

You can use the link below to reset your password.

Please note: If you are receiving / viewing this message
in your terminal / console,
then the link may be broken up onto multiple lines -
separted by an equal sign at the end of each line.

Copy and paste the link / pieces of the link together into your browser,
but MAKE SURE to REMOVE the equal sign/s in between.


{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

If you did not request this, you can ignore this email.

----------------------

{% endautoescape %}